

#Hero-Section {
    background-image: url("../img/Luis-Face.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    }

#fondo {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    }
